<div class=" main-container-color">
  <div class="well">
    <div class="media">
    <!--  <a class="pull-left" href="#">
        <img class="media-object" src="http://placekitten.com/150/150">
      </a>-->
      <div class="post-container-color">
        <h4 class="media-heading">{{post.postName}}</h4>

        <p>{{post.postBody}}</p>
        <ul class="list-inline">
          <li> 2 days, 8 hours </li>
          <li>|</li>
          <span><i class="glyphicon glyphicon-comment"></i> 40 comments</span>
          <li>|</li>

        </ul>
      </div>
    </div>
  </div>
  <div class="well"  *ngFor="let comment of comments" >
    <div class="media">
      <a class="pull-left" href="#">
      <!--  <img class="media-object" src="http://placekitten.com/150/150">-->
      </a>
      <div class="comment-container-color">
        <p class="left-text">Comment id {{comment.commentId}}</p>

        <p>{{comment.text}}</p>
        <ul class="list-inline">
          <li><span>Posted by {{comment.userId}}</span></li>
          <li><span> 2 days, 8 hours </span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="main-container-color">
  <div class="row">
    <hr />
    <div class="create-post-container col-md-9">
      <form class="post-form" [formGroup]="createCommentForm" (ngSubmit)="createComment()">
        <div class="form-group">
          <div class="create-post-heading">Write a Comment</div>
          <hr />
          <div class="form-group">
            <label for="Textarea1">Comment</label>
            <textarea class="form-control" id="Textarea1" rows="6" [formControlName]="'postBody'"></textarea>
          </div>
          <span>
            <div style="margin-top: 5px" class="float-right">
              <button (click)="discardComment()" class="btnDiscard">Discard</button>
              <button (click)="createComment()"
                      class="btnCreatePost">Post</button>
            </div>
          </span>
        </div>
      </form>
    </div>
    <div class="col-md-3">
      <!--    <guidelines></guidelines>
          <about></about>-->
    </div>
  </div>
</div>




<!--
<p>comments works!</p>
<div>
  {{post.postName}}
    {{post.postBody}}
</div>
<div>

  <div class="container">
    <div class="row">
      &lt;!&ndash;<hr />&ndash;&gt;
      <div class="col-md-9">
        &lt;!&ndash; Display Posts&ndash;&gt;
        <div class="row post" *ngFor="let comment of comments">

          &lt;!&ndash; Section to Display Post Information&ndash;&gt;
          <div class="col-md-11">
            <span >


            </span>
            &lt;!&ndash;     <hr />&ndash;&gt;
            <div class="post-title">
              &lt;!&ndash;  <span class="subreddit-text"><a class="posturl" routerLink="">{{forum.subForumName}}</a></span>&ndash;&gt;

              <a class="postname" href="post/{{comment.commentId}}">{{comment.commentId}}</a>
            </div>
            <div>
              <p class="post-text">{{comment.text}}</p>
              <span>
              <a class="btnCommments" role="button">
                &lt;!&ndash;<fa-icon [icon]="faComments"></fa-icon>&ndash;&gt;
                Posts({{post.userId}})
              </a>
                &lt;!&ndash;  <button class="login" (click)="goToPost(post.id)">
                    Read Post
                  </button>&ndash;&gt;
            </span>
            </div>
            <hr/>

          </div>
        </div>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
</div>
-->
