<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="flex-grow-1">
      <a aria-label="Home" class="logo" routerLink="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="icon-svg">
          <g>
            <circle fill="#000000" cx="10" cy="10" r="10"></circle>

          </g>
        </svg>
        <span class="reddit-text">
     OldStyle Forum
        </span>
      </a>
    </div>
    <div class="flex-grow-1 float-right">
      <a routerLink ="/register"  routerLinkActive="active" class="float-right signup mr-2">Sign up</a>
      <a routerLink ="/login" class="float-right login mr-2">Login</a>

    </div>
  </nav>
</header>
<router-outlet></router-outlet>
